@page
@model Echo.Pages.AdminModel
@{
}

<body id="adminpage">
    <header>
        <nav class="adminheader">
            <a asp-area="" asp-page="/Admin"><img src="~/Images/LogoWhite.png" /></a>
            <div class="menulist">
                <ul>
                        <li><a asp-page="Admin">Hjem</a></li>
                    <li><a asp-page="AllExhibits">Udstillinger</a></li>
                    <li><a asp-page="Create">Opret Ny</a></li>
                </ul>

                <form method="post" asp-page-handler="search" class="adminsearch">
                    <input asp-for="SearchCriteria" type="number" minLength="4" placeholder="Indtast udstillingsnr..." /><button class="admininput" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
                </form>
            </div>
            <div class="adminwarning"><span asp-validation-for="SearchCriteria" class="text-danger"></span></div>
        </nav>
    </header>

    <div class="admincontainer">
        <h1>Velkommen til Echo Admin</h1><br />
        
        <br /><br />
        <div class="admingrid-container" style="grid-template-columns: repeat(3, 1fr); column-gap:50px; margin-top:10px;">
            <a asp-page="/allexhibits"><button class="adminbutton">Alle udstillinger</button></a>
            <a asp-page="/create"><button class="adminbutton">Opret udstilling</button></a>
            <a asp-page="/index"><button class="adminbutton">Gå til ECHO</button></a>
        </div><br />
        <br />
        <h2 style="margin-bottom:10px;">Udstillinger</h2>
        <div class="admingrid-container" style="grid-template-columns: repeat(3, 1fr); column-gap:50px; margin-top:10px;">
            @foreach (var item in Model.Exhibits)
            {
                <div class="admingrid-item">
                    <a asp-page="/exhibitinfo" asp-route-id="@item.Value.ID" style="text-decoration:none;color:grey;">Udstilling @item.Value.ID</a>
                    <h3>@item.Value.Name</h3><br>
                    <video style="max-width:100%; margin-left:auto; margin-right:auto;" controls><source src="@item.Value.Videourl"/></video>
                </div>

            }
        </div><br />
        <h2 style="margin-bottom:10px;">Udstillinger</h2>
        <div class="admingrid-container" style="grid-template-columns: repeat(3, 1fr); column-gap:50px; row-gap:50px;margin-top:10px;">
            @foreach (var item in Model.Articles)
            {
                    <div class="admingrid-item">
                        <a style="text-decoration:none;color:grey;" >Artikel @item.Value.Id</a>
                        <h3>@item.Value.Header</h3><br>
                        <p>@item.Value.Subheader</p>
                    </div>                

            }
        </div>
    </div>

</body>



