@page
@model Echo.Pages.AllExhibitsModel
@{
}

<body id="adminpage">
    <header>
        <nav class="adminheader">
            <a asp-area="" asp-page="/Admin"><img src="~/Images/LogoWhite.png" /></a>
            <div class="menulist">
                <ul>
                        <li><a asp-page="Admin">Hjem</a></li>
                    <li><a asp-page="AllExhibits">Udstillinger</a></li>
                    <li><a asp-page="Create">Opret Ny</a></li>
                </ul>

                <form method="post" asp-page-handler="search" class="adminsearch">
                    <input asp-for="SearchCriteria" type="number" minLength="4" placeholder="Indtast udstillingsnr..." /><button class="admininput" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
                </form>
            </div>
            <div class="adminwarning"><span asp-validation-for="SearchCriteria" class="text-danger"></span></div>
        </nav>
    </header>
    <div class="exhibitscontainer">
        <div class="admincontainer">
            <h2 style="margin-left:5px;">Alle udstillinger</h2>
            <table id="adminexhibits">
            <thead>
                <tr>
                        <th style="width:15%;">Udstillingsnr</th>
                    <th>Navn Dansk</th>
                        <th>Navn Engelsk</th>
                        <th style="width:5%;"></th>
                        <th style="width:5%;"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Exhibits)
                {
                    <tr>
                        <td><a asp-page="/edit" asp-route-id="@item.Value.ID">@item.Value.ID</a></td>
                        <td>@item.Value.Name</td>
                            <td>@item.Value.Nameen</td>
                        <td><a asp-page="/edit" asp-route-id="@item.Value.ID"><i class="fa-solid fa-pen-to-square"></i></a></td>
                            <td id ="deletetrashcan"><a asp-page="/delete" asp-route-id="@item.Value.ID"><i class="fa-solid fa-trash"></i></a></td>
                    </tr>

                }
            </tbody>
        </table>
        </div>
        

        

    </div>
</body>
