@page "{id}"
@inject IStringLocalizer<ExhibitModel> localizer
@inject IHtmlLocalizer<ExhibitModel> htmllocalizer
@model ExhibitModel
@{
    ViewData["Title"] = Model.exhibitName + " ";
    var requestCultureFeature = HttpContext.Features.Get<IRequestCultureFeature>();
    var requestCulture = requestCultureFeature.RequestCulture;
    var test = Model.Article.Bodytext;
}



<!--Udstillingsside-->


<div class="exhibitmain" id="exhibitmain">

    <div class="navigation">
        <a asp-page="Index" asp-route-culture=@requestCulture.UICulture><div class="exhibitreturnbutton" id="returntoindex"><img src="~/images/return.png" /></div></a>
    </div>

    <div class="videopreviewcontainer">
        <img class="recordimage" src="~/Images/Record.svg"/>
        <div class="mask" id="recordimage">
                <video muted id="exhibitvideo">
                <source src=@Model.videourl />
                </video></div>
         </div>
      <div class="tooltip">Hover over me
  <span class="tooltiptext">Tooltip text</span>
</div>
    <div class="playerbox">
            <br />
            <!--Exhibit info-->
            <div class="playerboxheader">
                <h2>@Model.exhibitName</h2>
                <h3>@localizer["exhibit"] @Model.Exhibit.ID</h3>
            </div>
            <!--CultureSwitchers-->
            <div class="playerboxlan">
                <a asp-route-culture="da"><img class="navlangflag" src="~/Images/DA.png" /></a>
                <a asp-route-culture="en"><img class="navlangflag" src="~/Images/EN.png" /></a>
            </div>
            <!--Exibit Audio/Video-->
            <audio id="exhibitaudio">
                <source src="~/audio/file_example_OOG_5MG.ogg" type="audio/ogg">
                Your browser does not support the audio element.
            </audio>
            <div class="slidercontainer">
                <p id="currenttime">00:00</p><progress id="timeline" value="0" max="100"></progress><p id="totaltime">00:00</p>
            </div>
            <div class="audiobuttoncontainer">
                <button type="button" id="rewind"><img src="~/Images/Rewind.png" id="" width="70%" height="auto" /></button>
                <button type="button" id="play-pause"><img src="~/Images/PlayButton.png" id="" width="100%" height="auto" /></button>
                <button type="button" id="forward"><img src="~/Images/Forward.png" id="" width="70%" height="auto" /></button>
            </div>
        </div>
    
    <div class="exhibitarticle">
        <h1 class="articleheader" >@Model.Article.Header</h1>
        <hr>
        <h2 class="articlesubheader">@Model.Article.Subheader</h2>
        <div dangerouslySetInnerHTML=@Model.Article.Bodytext innerhtml=@Model.Article.Bodytext></div>
        <span class="articlebreadtext" style="white-space: pre-line">@Model.Article.Bodytext</span>
    </div>

</div>


<!--Videoside-->

<div class="videocontainer" id="videocontainer">
    <!--Udstillingsvideo-->

    <div class="navigation"><div class="exhibitreturnbutton" id="returntoexhibit"><img src="~/images/return.png" /></div></div>
   

    <video id="exhibitvideo">
        <source src=@Model.videourl type="video/mp4">
    </video>

    <!--Videocontrols-->
    <div class="videocontrols">

        <!--Videotitel-->
        <div class="videoinfocontainer">
            <h1 culture="da">@Model.exhibitName</h1><h3>@localizer["exhibit"] @Model.Exhibit.ID</h3>
            </div>

        <!--Videotimeline-->
        <div class="slidercontainer">
            <p id="currenttime">00:00</p><progress id="timeline" value="0" max="100"></progress><p id="totaltime">00:00</p>
        </div>

        <!--Videobuttons-->
        <div class="videobuttoncontainer">
            <button type="button" id="rewind"><img src="~/Images/Rewind.png" id="rewind-img" width="70%" height="auto"/></button>
            <button type="button" id="play-pause"><img src="~/Images/PlayButton.png" id="play-pause-img"width="100%" height="auto"/></button>
            <button type="button" id="forward"><img src="~/Images/Forward.png" id="forward-img" width="70%" height="auto"/></button>
        </div>

    </div>
</div>